@font-face {
  font-family: 'Outfit', sans-serif;
  src: url(/assets/fonts/poppins.ttf);
}

/* latin-ext */
@font-face {
  font-family: 'Outfit-Light';
  font-style: normal;
  font-weight: 200;
  font-display: swap;
  src: url(https://fonts.gstatic.com/s/outfit/v11/QGYyz_MVcBeNP4NjuGObqx1XmO1I4bC1O4i0ExAo.woff2) format('woff2');
  unicode-range: U+0100-02AF, U+0304, U+0308, U+0329, U+1E00-1E9F, U+1EF2-1EFF, U+2020, U+20A0-20AB, U+20AD-20CF, U+2113, U+2C60-2C7F, U+A720-A7FF;
}

/* latin */
@font-face {
  font-family: 'Outfit-Light';
  font-style: normal;
  font-weight: 200;
  font-display: swap;
  src: url(https://fonts.gstatic.com/s/outfit/v11/QGYyz_MVcBeNP4NjuGObqx1XmO1I4bC1O4a0Ew.woff2) format('woff2');
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+0304, U+0308, U+0329, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
}

body {
  background-attachment: fixed;
  /* Make the gradient fixed */
  /* Full height */
  height: 100%;
  /* Center and scale the image nicely */
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.button-6 {
  align-items: right;
  border: none;
  border-radius: 10px;
  background-color: transparent;
  box-shadow: rgba(0, 0, 0, 0.02) 0 1px 3px 0;
  box-sizing: border-box;
  color: white;
  cursor: pointer;
  font-family: 'Outfit-Light', sans-serif;
  font-size: 15px;
  font-weight: 500;
  text-align: center;
  justify-content: center;
  line-height: 1.25;
  margin: -5px;
  min-height: 3rem;
  margin-left: 10px;
  padding: 0px 10px;
  margin-right: 20px;
  text-decoration: none;
  transition: all 250ms;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
  vertical-align: baseline;
  width: 84px;
  height: 85px;
}



.button-6:hover {
  border: transparent 2px rgba(255, 255, 255, 0.596);
  background-color: rgba(255, 255, 255, 0.411);
  padding: 0px 10px;
  transform: translate(-0%, -3%);
  transition: 0.2s;
}

.button-6:active {
  background-color: white;
  color: rgba(0, 0, 0, 0.65);
  transform: translateY(0);
  border-radius: 5px;
}

nav {
  padding: 8px;
  background-color: transparent;
  margin-top: 502131px;
  /* Increase this value to move it further down */
  border-radius: 20px;
  width: 100%;
  max-width: 1000px;
  overflow: hidden;
  align-items: center;
  background: linear-gradient(rgba(0, 0, 0, 0.384), rgba(0, 0, 0, 0.384));
  box-shadow: 0px 8px 8px 0px rgba(0, 0, 0, 0.4);
  position: relative;
  margin: 0 auto;
}

@media (max-width: 1000px) {
  nav {
    width: 100%;
  }
}



::-webkit-scrollbar {
  width: 5px;
  background-color: rgba(0, 0, 0, 0.37);
}

::-webkit-scrollbar-thumb {
  background-color: #504f4f;
  border-radius: 6px;
}

::-webkit-scrollbar-thumb:hover {
  background-color: #555;
}


nav p {
  font-family: 'Outfit', sans-serif;
}

nav a {
  float: right;
  text-align: center;
  text-decoration: none;
  margin: 8px;
  font-family: 'Outfit', sans-serif;
}

nav button {
  float: right;
  text-align: center;
  text-decoration: none;
  margin: 9px;
  font-family: 'Outfit', sans-serif;
}

nav .icon {
  display: none;
  color: red;
}

input {
  border: none;
  padding: 20px;
  width: 520px;
  background-color: rgba(20, 20, 20, 0.747);
  color: white;
  outline: none;
  border: 2px solid rgba(51, 51, 51, 0.692);
  ;
  font-family: 'Outfit', sans-serif;
  font-size: 15px;
  text-align: center;
  border-radius: 15px;
  transition: 0.2s;
  opacity: 100%;
  z-index: 1;
  box-shadow: 0px 8px 8px 0px rgba(0, 0, 0, 0.4);
}



.proxybar:focus {
  width: 720px;
}




nav.responsive a {
  float: none;
  display: block;
  text-align: left;
}


h1 {
  font-size: 45.5px;
}

.header {
  font-family: 'Outfit', sans-serif;
  font-size: 25px;
  color: white;
  margin-left: 20px;
  margin-top: 2px;
}

.rounded {
  border-radius: 10px;
}

#card1,
#card2,
#card3,
#card4 {
  outline: 3.5px solid #004be0;
  text-align: center;
  float: center;
  width: 5.5%;
  height: 150px;
  color: white;
  padding: 4.5rem;
  border-radius: 5.5px;
  transition: 0.5s;
}

#card1:hover,
#card2:hover,
#card3:hover,
#card4:hover {
  background-color: #004be0;
  cursor: pointer;
  transition: 0.5s;
}

#featured {
  max-width: 1000px;
  margin: 0 auto;
  margin-top: 45.5px;
  display: grid;
  grid-gap: 1rem;
  display: flex;
  flex-direction: row;
  justify-content: center;
}

body,
html {
  height: 100%;
  margin: 0;
}

.bg {
  /* The image used */
  background-image: url('/assets/img/background.png');

  /* Full height */
  height: 100%;

  /* Center and scale the image nicely */
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment: fixed;
}

.modal {
  display: none;
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  transition: background-color 0.5s cubic-bezier(0.250, 0.460, 0.450, 0.940);


  z-index: 5;

}

.modal-background-active {
  z-index: 4;
  transition: background-color 0.5s cubic-bezier(0.250, 0.460, 0.450, 0.940);


  filter: blur(300px);
  transition: backdrop-filter 0.2s cubic-bezier(0.250, 0.460, 0.450, 0.940);
}

.modal-background-disappear {
  z-index: 4;
  transition: background-color 0.5s cubic-bezier(0.250, 0.460, 0.450, 0.940);


  filter: blur(5px);
  transition: opacity 0.2s cubic-bezier(0.550, 0.085, 0.680, 0.530);
}

.modal.active {
  transition: opacity 0.2s cubic-bezier(0.250, 0.460, 0.450, 0.940);
  display: block;


  transition: background-color 0.5s cubic-bezier(0.250, 0.460, 0.450, 0.940);
  animation: modal-appear 0.5s cubic-bezier(0.250, 0.460, 0.450, 0.940) both;

}

.modal.disappear {
  transition: opacity 0.2s cubic-bezier(0.550, 0.085, 0.680, 0.530);
  display: block;
  transition: background-color 0.5s cubic-bezier(0.250, 0.460, 0.450, 0.940);
  animation: modal-disappear 0.5s cubic-bezier(0.550, 0.085, 0.680, 0.530) both;
}

.modal-content {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 635px;
  background-color: #f3f3f3;
  height: 417px;
  border-radius: 4px;
  transition: background-color 0.5s cubic-bezier(0.250, 0.460, 0.450, 0.940);
  box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.1), inset 0px 0px 2px rgba(0, 0, 0, 0.1), inset 0px 0px 1px rgba(255, 255, 255, 0.5);
}

.modal-content h2 {
  margin: 20px 0;
  transition: background-color 0.5s cubic-bezier(0.250, 0.460, 0.450, 0.940);
  padding: 0 20px;
}

.modal-content p {
  margin: 20px;
  transition: background-color 0.5s cubic-bezier(0.250, 0.460, 0.450, 0.940);
}

.button {
  display: inline-block;
  padding: 10px 20px;
  background-color: #333;
  color: #fff;
  transition: background-color 0.5s cubic-bezier(0.250, 0.460, 0.450, 0.940);
  border: none;
  border-radius: 4px;
  cursor: pointer;
}


@keyframes modal-disappear {
  0% {

    transform: scale(1);
    opacity: 1;
  }

  100% {

    transform: scale(0);
    opacity: 0;
  }
}

@keyframes modal-appear {
  0% {

    transform: scale(0);
    opacity: 0;
  }

  100% {

    transform: scale(1);
    opacity: 1;
  }
}
text {
  position: absolute;
  color: #000;
  text-align: center;
  width: 101%;
  font-family: 'Outfit', sans-serif;
  font-weight: 300;
  position: absolute;
  font-size: 11px;
  margin-top: 17px;
  overflow: hidden;
  font-weight: bold;
}
.button-container-3 {
  position: relative;
  width: 100px;
  height: 50px;
  margin-left: auto;
  margin-right: auto;
  margin-top: 8vh;
  overflow: hidden;
  border: 1px solid #000;
  font-family: 'Lato', sans-serif;
  font-weight: 300;
  transition: 0.5s;
  letter-spacing: 1px;
  border-radius: 8px;
}

   
 @-webkit-keyframes ani {
  from {
   -webkit-mask-position: 0 0;
   mask-position: 0 0;
  }
 
  to {
   -webkit-mask-position: 100% 0;
   mask-position: 100% 0;
  }
 }
 
 @keyframes ani {
  from {
   -webkit-mask-position: 0 0;
   mask-position: 0 0;
  }
 
  to {
   -webkit-mask-position: 100% 0;
   mask-position: 100% 0;
  }
 }
 
 @-webkit-keyframes ani2 {
  from {
   -webkit-mask-position: 100% 0;
   mask-position: 100% 0;
  }
 
  to {
   -webkit-mask-position: 0 0;
   mask-position: 0 0;
  }
 }
 
 @keyframes ani2 {
  from {
   -webkit-mask-position: 100% 0;
   mask-position: 100% 0;
  }
 
  to {
   -webkit-mask-position: 0 0;
   mask-position: 0 0;
  }
}
   button:hover {
    -webkit-animation: ani 0.7s steps(70) forwards;
    animation: ani 0.7s steps(70) forwards;
   }
  

 
p {
  font-family: 'Outfit', sans-serif;
  color: white;
  font-size: 25px;
  margin-left: 5px;
  margin-top: 10px;
}

.title {
  font-family: 'Outfit', sans-serif;
  color: white;
  float: left;
  font-size: 25px;
  width: 250px;
  transition: .2s;
  border-radius: 7px;
}

.title:hover {
  background-color: rgba(255, 255, 255, 0.336);
  border-width: 10px;
  transform: translate(-0%, -3%);
  box-shadow: 0px 8px 48px 0px rgba(0, 0, 0, 0.4);
}

.title:active {
  background-color: rgba(255, 255, 255, 0.582);
}

a {
  font-family: 'Outfit', sans-serif;
  color: white;
  font-size: 17px;
  margin-left: 20px;
  margin-top: 10px;
}

.searchbar {
  height: 10px;
  width: 500px;
}

/*
.searchbar:hover {
  width:700px;
}
*/


@font-face {
  font-family: 'mosk';
  src: url('/assets/fonts/mosk.ttf');
}

.centered {
  color: #fff;
  margin: 0;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  text-align: center;
}

h1 {
  font-size: 100px;
  margin: 10px;
}

h2 {
  font-family: 'Outfit', sans-serif;
  color: white;
}

.footer {
  text-decoration: none;
  position: absolute;
  bottom: 0;
  left: 0;
  margin: 20px;
  font-size: 16px;
  background-attachment: fixed;
}


.footer>a {
  text-decoration: none;
  font-size: 18px;
  transition: 0.4s;
}

.footer>a:hover {
  color: rgba(255, 255, 255, 0.466);
  transition: 0.2s;
}

.active {
  background-color: rgba(255, 255, 255, 0.267);
}

.bottom-right-content {
  position: absolute;
  /* Position the content absolutely within the container */
  bottom: 0;
  /* Distance from the bottom edge */
  right: 0;
  /* Distance from the right edge */
  margin: 15px;
}

.bottom-right-content>a {
  text-decoration: none;
  font-size: 18px;
  transition: 0.4s;
}

.bottom-right-content>a:hover {
  color: rgba(255, 255, 255, 0.466);
  transition: 0.2s;
}

.clock {
  text-decoration: none;
  position: absolute;
  background-color: rgba(48, 48, 48, 0.693);
  box-shadow: 0px 8px 20px 0px rgba(0, 0, 0, 0.4);
  width: 150px;
  font-family: 'Outfit', sans-serif;
  font-size: 18px;
  bottom: 1px;
  /* Adjust the distance from the bottom as needed */
  left: 50%;
  right: 50%;
  border-radius: 10px;
  transform: translateX(-60%);
  background-attachment: fixed;
}

.randomText {
  text-align: center;
  justify-content: center;
  font-size: 17px;
}

#particles-js {
  position: fixed;
  /* Change this to 'fixed' */
  width: 100%;
  height: 100vh;
  top: 0;
  background-color: var(--bg-c);
  background-repeat: repeat;
  background-size: auto;
  background-position: 50% 50%;
  overflow: hidden;
  z-index: -1;
}